* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add-task {
  display: flex;
  height: 40px;
  font-size: 17px;
}
.add-task .task-input {
  border-right: none;
  width: 100%;
  padding: 0 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid #191933;
}
.add-task .button-task {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border: none;
  background: #191933;
  color: #fff;
  outline: none;
}
.add-task .button-task:hover {
  background: #fff;
  color: #191933;
  transform: scale(1.5);
}

.checklist-item {
  display: flex;
  justify-content: space-between;
  background: #00000069;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 10px 0;
}
.checklist-item .task-name input, .checklist-item .task-name label {
  cursor: pointer;
}

.strike {
  position: relative;
  color: #fafafa;
}

.strike::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
  animation: strike;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.strike::after {
  animation: strike;
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
