$backColor:#191933;
$fontColor:#fff;
$check: #4F29F0;
$gray: #00000069;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.add-task{
    display: flex;
    height: 40px;
    font-size: 17px;

    .task-input{
        border-right: none;
        width: 100%;
        padding: 0 5px;
        outline: none;
        border: none;
        border-bottom: 1px solid $backColor;
    }
    .button-task{
        border-radius: 50%;
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        border: none;
        background: $backColor;
        color: $fontColor;
        outline: none;

        &:hover{
            background:$fontColor ;
            color: $backColor;
            transform: scale(1.5);
        }
    }
    
}

.checklist-item{
    display: flex;
    justify-content: space-between;
    background:$gray;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 10px 0;
    .task-name{
        input, label{
            cursor: pointer;
        }
    }
}


  .strike {
    position: relative;
    color: #fafafa;
  }
  .strike::after{
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    animation: strike;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .strike::after{
    animation: strike;
  }
  @keyframes strike{
          0%{width: 0}
          100%{width: 100%;}
  }
